.footer {
    background-color: var(--dark_blue-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    font-size: 18px;
    line-height: 21px;
    padding: 17px 19px 17px 21px;

    .counts {
        display: flex;
        gap: 36px;
    }
}

@media screen and (max-width: 339px) {
    .footer {
        display: none;
    }
}